p {
	border-bottom: 3px solid #cd4236;
}

.kermit {
	border: 3px solid #91e374;
}

#main-div-1 {
	padding: 10px;
}

#main-div-2 .kermit {
	display: inline;
	border: 3px dotted purple;
}

#main-div-2 > * {
	border: 8px solid black;
}

h2 ~ p {
	border: 3px solid blue;
}

#li-1 {
	font-size: 30px;
}

#li-2 {
	font-weight: bold;
}

#li-3 {
	text-transform: uppercase;
}

#mystery-ul {
	font-family: "mystery quest";
}

#flex-kermit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#flex-kermit img {
	margin: 15px;
	padding: 10px;
	max-width: 50px;
}





