p {
	border-bottom: 3px solid red;
}

.kermit {
	border: 3px solid green;
}

#main-div-1 {
	padding: 10px;
}

#main-div-2 .kermit {
	border: 3px dotted purple;
}

#main-div-2 > * {
	border: 8px solid black;
}

h2 ~ p {
	border: 3px solid blue;
}

/* Hover on anchor tags */
a:hover {
	font-size: 50px;
}

/* active */
a:active {
	background-color: green;
}

/* Focus */
input:focus {
	background-color: yellow;
}

/* nth child */
.sub-div li:nth-child(2n + 1) {
	border: pink 5px solid;
}

.sub-div li:nth-child(2n) {
	border: blue 5px solid;
}

/* nth of type */
.sub-div li:nth-of-type(2n) {
	color: blue;
}

section p:nth-child(2) {
	color: red;
}

section p:nth-of-type(2) {
	color: orange;
}

/* before */
#main-div-1::before {
	content: "\201c";
	font-size: 60px;
	font-weight: bold;
	color: purple;
}

/* after */
#main-div-1::after {
	content: "$$$";
}
